ul {
    list-style-type: none;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2baae5;
}

li.dropdown {
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.about {
  padding-top: 180px;
  text-align: center;
}

#pic {
  height: 250px;
  width: auto;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right:0;
  margin: auto;
  padding-top: 5%;
}

#name {
  letter-spacing: 5px;
  font-size: 80px;
  font-family: 'courier new';
  color: #89d6f9;
  padding-top: 15%;
}

#about {
  margin-top: -50px;
  font-size: 20px;
  color: #333333;
  font-family: 'courier new';
  padding: 5%;
}

#copyright {
  text-align: center;
  color: #cccccc;
}